
  <nav class="navbar navbar-expand-md bg-light   navbar-light">
        <a class="navbar-brand" href="#">Admin Page</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
    
    </ul>



    <button class="btn btn-danger my-2 my-sm-0" (click)="onLogout()">Logout</button>
          </div>
  </nav>

  <body>

   <div>
    <ul>
   <li class="nav-item">
    <a class="nav-link" routerLink="/customer/index">Customers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/category/index">Categories</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/product/index">Products</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/order/index">Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/OrderDetail/index">OrderDetails</a>
  </li>
    </ul>
   </div>
   

  </body>
  










